* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, #370000 3%, #9D0000 60%);
    color: #fff;
}

header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #9D0000 20%, #370000 60%);
    z-index: 100;
}

header img {
    padding-left: 3rem;
}

header nav {
    width: 40rem;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    color: white;
}

header nav ul li .active {
    border-bottom: 2px solid #fff;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.home {
    background: linear-gradient(to right, #370000 20%, #9D0000 60%);
}

.home section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home section p {
    font-size: 2rem;
}

.home .image-holder img,
.about .image-holder img {
    width: 25rem;
    border-radius: 20px;
    box-shadow: 10px 10px #370000;
}

.about .content {
    display: flex;
    flex-direction: column;
    height: 30rem;
}

.about .content h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about .content p {
    font-size: 1.5rem;
    width: 40rem;
}

.experience .down {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.experience .down .bottom {
    width: 35rem;
    height: 40rem;
    background-color: whitesmoke;
    color: #000;
    border-radius: 20px;
    box-shadow: 10px 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience .down .bottom h2,
.experience .down .up .top h2
 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.experience .down .bottom ul li,
.experience .down .up .top ul li{
    font-size: 2rem;
    width: 25rem;
}

.experience .down .up {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.experience .down .up .top {
    width: 35rem;
    height: 40rem;
    background-color: whitesmoke;
    color: #000;
    border-radius: 20px;
    box-shadow: 10px 10px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    justify-content: space-between;
    align-items: end;
}

.contact .links {
    display: flex;
    align-items: end;
}

.contact .links nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15rem;
    padding-left: 20px;
}

.contact .links nav ul li {
    list-style: none;
}

.contact .links nav ul li a img {
    width: 32px;
    height: 32px;
}

.contact .box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .box div {
    width: 40rem;
    height: 25rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 20px;
    box-shadow: 10px 10px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .box div h3 {
    font-size: 3rem;
    margin: 1rem 1rem;
}

.contact .box div p {
    font-size: 1.8rem;
}

.contact .box div #others {
    margin-top: 6rem;
    font-size: 1.2rem;
}